div{
    border: 3px solid;
    /*background-color: red;*/
    text-align: center;
    vertical-align: middle;
    line-height: 6rem;
    width: 6rem;
    height: 6rem;
    display: inline-block;
    /*color: blue;*/
}
.block2{
    top: 50px;
    position: absolute;
    right: 50vw;
}
.block3{
    position: absolute;
    left: 6rem;
    top: -1.5rem;
}
.block4{
    position: absolute;
    top: 1rem;
    right: 0;    
}