body{
    left: 30px;
    position: relative;
    font-family: arial;
    font-size: 22px;
}
em{
    background-color: yellow;
    font-style: normal;
}
.div1{
    width: 960px;

}
.div2{
    margin-top: 20px;
    border-top: 10px solid;
    background-color: #eeeeee;
    width: 450px;
    display: inline-block;
    padding: 20px;
    margin-right: 20px;

}
.div3{
    margin-left: -20px;
}